<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "nav.html" . }}
        {{ partial "slider.html" . }}
        {{ partial "fakta.html" . }}
        {{ partial "post-grid.html" . }}
        {{ partial "tentang.html" . }}
        {{ partial "qoutes.html" . }}
        {{ partial "visimisi.html" . }}
        {{ partial "donasi.html" . }}
        {{ partial "footer.html" . }}
            
        {{ partial "js-init.html" . }}
  
    </body>
</html>
