

	<div class="row justify-content-center">
  <div class="col-sm-4 col-md-4">
    <div class="card text-center">
    	      	
      <div class="card-body">
      	<img src="img/abror.png"  style="width: 35%;height: 35%;" class="justify-content-center">
        <h5 class="card-title">Daftar Sekolah</h5>
       
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

    <div class="col-sm-4 col-md-4">
    <div class="card text-center">
    	      	
      <div class="card-body">
      	<img src="img/abror.png"  style="width: 35%;height: 35%;" class="justify-content-center">
        <h5 class="card-title">Daftar Ponpes</h5>

        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>

	

