
<div class="gradasi">
                    <div class="container">
                        <!-- Row -->
                        <div class="row counter-box text-center ">
                            <!-- column  -->
                            <div class="col-lg-3 col-6 " style="padding-top: 15px;padding-bottom: 15px">
                                <div class="">
                                    <h2 class="font-medium text-white m-b-0"><span class="counter">20</span>+</h2>
                                    <h6 class="text-white font-14 op-7">Program <br>Ekstrakulikuler</h6>
                                </div>
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 col-6 " style="padding-top: 15px;padding-bottom: 15px">
                                <div class="">
                                    <h2 class="font-medium text-white m-b-0"><span class="counter">30</span>%</h2>
                                    <h6 class="text-white font-14 op-7">Mata Pelajaran <br>Agama</h6>
                                </div>
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 col-6 pad-5" style="padding-top: 15px;padding-bottom: 15px">
                                <div class="">
                                    <h2 class="font-medium text-white m-b-0"><span class="counter">200</span>+</h2>
                                    <h6 class="text-white font-14 op-7">Piagam <br>Penghargaan</h6>
                                </div>
                            </div>
                            <!-- column  -->
                            <!-- column  -->
                            <div class="col-lg-3 col-6 pad-5" style="padding-top: 15px;padding-bottom: 15px">
                                <div class="">
                                    <h2 class="font-medium text-white m-b-0"><span class="counter">B</span>+</h2>
                                    <h6 class="text-white font-14 op-7">Akriditasi <br>Sekolah</h6>
                                </div>
                            </div>
                            <!-- column  -->
                        </div>

                         <div class="row justify-content-center" >
       <div class="col-sm-3 col-md-3 col-6  ">
                  <div class="single_what_we_do">
                     <div class="text-center" style="padding-top:10px;padding-bottom: 10px;">
              
                         
                                        
                     <h6>Raudatul Ath'fal(TK)</h6>
                
          
                     <a class="what_we_do_icon" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>

                      </div>
                  </div>
               </div>
                <div class="col-sm-3 col-md-3 col-6" >
                         <div class="single_what_we_do">
                     <div class="text-center" style="padding-top:10px;padding-bottom: 10px;">
                     <div class="top_line"></div>
                         
                                        
                     <h6>Madrasah Ibtida'iyah</h6>
                
          
                     <a class="what_we_do_icon" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>
                      </div>
                  </div>
               </div>
                <div class="col-sm-3 col-md-3 col-6">
                         <div class="single_what_we_do">
                     <div class="text-center" style="padding-top:10px;padding-bottom: 10px;">
                     <div class="top_line"></div>
                         
                                        
                     <h6>Madrasah Tsanawiyah</h6>
                
          
                     <a class="what_we_do_icon" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>
                      </div>
                  </div>
               </div>
                   <div class="col-sm-3 col-md-3 col-6">
                         <div class="single_what_we_do">
                     <div class="text-center" style="padding-top:10px;padding-bottom: 10px;">
                     <div class="top_line"></div>
                         
                                        
                     <h6>Madrasah Aliyah</h6>
                
          
                     <a class="what_we_do_icon" href="#">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                     </a>
                      </div>
                  </div>
               </div>
   </div>
                    </div>
                </div>