<footer class="contact font-small" id="contact">

    <div class="gradasi">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-white text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Terhubung dengan kami di Sosial Media!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
        <a class="mr-2" href="https://www.facebook.com/darulabrornw"><img src="https://www.darulabrornw.com/img/svg/facebook-with-circle.svg" width="32" height="32" alt="Facebook"></a>
            <!-- Instagram -->
        <a class="mr-2" href="https://instagram.com/darulabrornw"><img src="https://www.darulabrornw.com/img/svg/instagram-with-circle.svg" width="32" height="32" alt="Instagram"></a>
            <!-- Google +-->
          <a class="mr-2" href="https://google.com/+DarulAbror"><img src="https://www.darulabrornw.com/img/svg/google+-with-circle.svg" width="32" height="32" alt="Google+"></a>
            <!--youtube -->
           <a class="mr-2" href="https://www.youtube.com/channel/UCa9Ney2j3W-o_7wleeg8Tsw"><img src="https://www.darulabrornw.com/img/svg/youtube-with-circle.svg" width="32" height="32" alt="Youtube"></a>
            <!--rsfeed-->
         <a class="mr-2" href="https://feeds.feedburner.com/darulabrornw"><img src="https://www.darulabrornw.com/img/svg/rss-with-circle.svg" width="32" height="32" alt="RSS Feed"></a></div>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>
        <div class="bg-abror3 text-white ">
    <div class="container py-5   ">
      <div class="row ">
        <div class="col-md-6 col-sm-12 text-md-left text-center mb-4">
          <h3 class="wow fadeIn slow raleway-medium" data-wow-delay="0.9s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.9s;">Contact</h3>
          <hr class="wow zoomIn garis mb-4 mt-0 d-inline-block mx-auto" style="visibility: visible; animation-name: zoomIn;">

            <p class="wow fadeInUp raleway-regular" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-map-marker mr-3" aria-hidden="true" data-wow-delay="0.9s"></i>Jl.Montong Better - Sukarara Kec.Sakra Barat Kab.Lotim NTB</p>
            <p class="wow fadeInUp raleway-regular" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-phone mr-3" aria-hidden="true" data-wow-delay="1.2s"></i>+6285934364234</p>
            <p class="wow fadeInUp raleway-regular" style="visibility: visible; animation-name: fadeInUp;"><i class="fa fa-envelope mr-3" aria-hidden="true" data-wow-delay="1.5s"></i>darulabror2018@gmail.com</p>
        </div>
        <div class="col-md-6 col-sm-12 text-md-left text-center mb-4">
         <h3 class="wow fadeIn slow raleway-medium" data-wow-delay="0.9s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.9s;">Tentang</h3>
         <hr class="wow zoomIn garis mb-4 mt-0 d-inline-block mx-auto" style="visibility: visible; animation-name: zoomIn;">
   
         <p class="wow fadeInUp slow raleway-regular" data-wow-delay="1.5s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1.5s;">Yayasan Pondok Pesantren Darul Abror merupakan pondok pesantren yang bernaung dengan organisasi Nahdatul Wathan. </p>
        </div>
      </div>

    


    </div>
    </div>

      <div class="gradasi">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-3 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center  text-md-left mb-4 mb-md-0">
            <ul class="nav justify-content-center justify-content-lg-start">
          <li class="nav-item">
            <a class="nav-link text-white" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white"  href="/faqs">FAQs</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white" href="/about">About</a>
          </li>
           <li class="nav-item"><a class="nav-link text-white" href="#!" data-toggle="modal" data-target="#contactModal">Contact</a>
          </li>
          <li class="nav-item"><a class="nav-link text-white" href="/post">Arsip</a>
          </li>
        </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-white text-md-right mb-4 mb-md-0">

          <p class="wow fadeInUp slow m-0 grey-text" style="visibility: visible; animation-name: fadeInUp;">© 2019 Copyright&nbsp;Darulabror | <a class="text-white" href="https://www.facebook.com/rickyanwar7777">RA</a></p>
      

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>

  </footer>
