        
<div class="row">
        <div class="col-sm-4">
            <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="img/1.jpg" alt="Card image cap">
                <div class="card-body nopadding">
                       <div class="row nopadding">
                        <div class="col-6 nopadding">
                            <time class="start red">
                                Mulai <span class="day">20</span>
                                <span class="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                        <div class="col-6 nopadding ">
                            <time class="end green">
                                Berakhir <span class="day">20</span>
                                <span class ="month">Apr</span>
                                <span class="year">2016</span>
                            </time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>