<div class="faq container">
      <div class="row justify-content-center mb-5 pb-5">
        <div class="col-md-6 col-sm-12">
          
            <!-- Dipelajari -->
            <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#dipelajari" >
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Apa saja yang dipelajari?
            </button>
            <div class="collapse text-md-left text-sm-center font-small" id="dipelajari">
              <div class="mt-3">
                <label class="raleway-regular grey-text mx-2">
                Pondok Programmer merupakan komunitas IT berbasis pondok yang senantiasa berusaha mendidik santrinya untuk berakhlaq mulia, profesional serta bermanfaat untuk ummat.
                </label>
              </div>
            </div>
            <!-- Dipelajari -->

            <!-- Lokasi -->
            <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#lokasi" aria-expanded="false" aria-controls="lokasi" data-wow-delay="0.6s" style="visibility: visible; animation-name: flipInX; animation-delay: 0.6s;">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Dimana lokasi Pondok Programmer?
            </button>
            <div class="collapse text-md-left text-sm-center font-small" id="lokasi">
              <div class="mt-3">
                <label class="raleway-regular grey-text mx-2">
                Gegunung, Tirtohargo, Kretek, Bantul, DI Yogyakarta
                </label>
              </div>
            </div>
            <!-- Lokasi -->

            <!-- Join -->
            <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#join" aria-expanded="false" aria-controls="join" data-wow-delay="0.9s" style="visibility: visible; animation-name: flipInX; animation-delay: 0.9s;">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Siapa yang bergabung dengan Pondok Programmer?
            </button>
            <div class="collapse text-md-left text-sm-center font-small" id="join">
              <div class="mt-3">
                <label class="raleway-regular grey-text mx-2">
                Anak lulusan SMA/SMK yang mempunyai minat dan bakat (PASSION) di bidang IT (PROGRAMMING) yang dia bersungguh-sungguh, berakhlak baik, mempunyai Logika yang bagus.
                </label>
              </div>
            </div>
            <!-- Join -->

            <!-- Pendaftaran -->
            <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#pendaftaran" aria-expanded="false" aria-controls="pendaftaran" data-wow-delay="1.2s" style="visibility: visible; animation-name: flipInX; animation-delay: 1.2s;">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Kapan pendaftarannya?
            </button>
            <div class="collapse text-md-left text-sm-center font-small" id="pendaftaran">
              <div class="mt-3">
                <label class="raleway-regular grey-text mx-2">
                 <a href="https://pendaftaran.pondokit.com">Klik Ini</a> 
                </label>
              </div>
            </div>
            <!-- Pendaftaran -->

            <!-- Lingkungan -->
            <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#lingkungan" aria-expanded="false" aria-controls="lingkungan" data-wow-delay="1.2s" style="visibility: visible; animation-name: flipInX; animation-delay: 1.2s;">
              <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Bagaimana lingkungan di Pondok Programmer?
            </button>
            <div class="collapse text-md-left text-sm-center font-small" id="lingkungan">
              <div class="mt-3">
                <label class="raleway-regular grey-text mx-2">
                  Karakter seseorang sangat dipengaruhi oleh lingkungan tempat di tanggal dan bersama siapa seseorang bergaul. Ketika kita tinggal di lingkungan perokok maupun bergaul dengan perokok minimal kita akan menghirup asap rokok, bisa jadi kita akan ikut ketularan merokok bahkan kecanduan. Ketika kita tinggal bersama penjual minyak wangi minimal kita akan menghirup bau harum, bahkan jika beruntung kita kecipratan minyak wangi dan kitapun jadi wangi. Begitu juga jika kita bergaul dengan orang yang rajin sholat berjama’ah, puasa, ngaji, orang sholeh, Maka kita berharap kita ikut menjadi seperti itu. Ketika kita melakukan ibadah sendiri biasanya akan terasa berat, namun jika ada teman yang senantiasa mengingatkan dan mengajak kebaikan maka ibadah itu menjadi lebih ringan. Lingkungan dan budaya islami senantiasa berusaha dijaga di Pondok IT.
                </label>
              </div>
            </div>
            <!-- Lingkungan -->

        </div>
        <div class="col-md-6 col-sm-12">
          
          <!-- Biaya -->
          <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#biaya" aria-expanded="false" aria-controls="biaya" data-wow-delay="1.5s" style="visibility: visible; animation-name: flipInX; animation-delay: 1.5s;">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Berapa biayanya? Gratis 100%
          </button>
          <div class="collapse text-md-left text-sm-center font-small" id="biaya">
            <div class="mt-3">
              <label class="raleway-regular grey-text mx-2">
              Mengapa Gratis? Karena Pondok Programmer memfokuskan kepada anak-anak yang kurang mampu secara ekonomi namun mempunyai minat dan bakat dalam bidang IT khususnya pemrograman. 
              </label>
            </div>
          </div>
          <!-- Biaya -->

          <!-- fasilitas -->
          <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#fasilitas" aria-expanded="false" aria-controls="fasilitas" data-wow-delay="1.8s" style="visibility: visible; animation-name: flipInX; animation-delay: 1.8s;">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Fasilitas apa yang ada di Pondok Programmer?
          </button>
          <div class="collapse text-md-left text-sm-center font-small" id="fasilitas">
            <div class="mt-3">
              <label class="raleway-regular grey-text mx-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Makan dan tempat tinggal ditanggung 100%</li>
                  <li class="list-group-item">Intensif Training</li>
                  <li class="list-group-item">Mengikuti event - event IT</li>
                  <li class="list-group-item">Lingkungan nyaman, kondusif, dan tempat tinggal</li>
                  <li class="list-group-item">Koneksi 24 jam</li>
                  <li class="list-group-item">Olahraga</li>
                  <li class="list-group-item">Jalan - jalan (Rihlah) Tiap 2 Bulan sekali</li>
                </ul> 
              </label>
            </div>
          </div>
          <!-- fasilitas -->

          <!-- waktu-belajar -->
          <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#waktu-belajar" aria-expanded="false" aria-controls="waktu-belajar" data-wow-delay="2.1s" style="visibility: visible; animation-name: flipInX; animation-delay: 2.1s;">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Berapa lama waktu belajarnya?
          </button>
          <div class="collapse text-md-left text-sm-center font-small" id="waktu-belajar">
            <div class="mt-3">
              <label class="raleway-regular grey-text mx-2">
              Di Pondok Programmer ini santri akan belajar selama 3 Tahun, tetapi jika sudah siap bekerja dalam 6 Bulan pertama, maka akan disalurkan (bekerja, kerja remote, membangun Startup)
              </label>
            </div>
          </div>
          <!-- waktu-belajar -->

          <!-- syarat -->
          <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#syarat" aria-expanded="false" aria-controls="syarat" data-wow-delay="2.4s" style="visibility: visible; animation-name: flipInX; animation-delay: 2.4s;">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Apa saja persyaratannya?
          </button>
          <div class="collapse text-md-left text-sm-center font-small" id="syarat">
            <div class="mt-3">
              <label class="raleway-regular grey-text mx-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Laki - Laki</li>
                  <li class="list-group-item">Lulus SMP / SMA / SMK(Tidak sedang bekerja atau kuliah dan tidak menerima lulusan S1)</li>
                  <li class="list-group-item">Dapat izin orang tua</li>
                  <li class="list-group-item">Belum menikah</li>
                  <li class="list-group-item">Maksimal umur 22 Tahun</li>
                  <li class="list-group-item">Memiliki Laptop / Netbook(Bagi yang belum, bisa cari pinjaman terlebih dahulu)</li>
                  <li class="list-group-item">Menyukai / Hobi terkait dunia IT</li>
                  <li class="list-group-item">Tidak merokok</li>
                  <li class="list-group-item">Siap tinggal di Asrama</li>
                  <li class="list-group-item">Berkepribadian baik (Semangat belajar - Suka tantangan - Pantang menyerah - Tidak malas - Kemauan tinggi - Berkomitmen tinggi)</li>
                </ul> 
              </label>
            </div>
          </div>
          <!-- syarat -->

          <!-- tujuan-->
          <button type="button" class="wow flipInX my-2 btn btn-outline-blue-grey btn-block text-md-left text-sm-center waves-effect waves-light" data-toggle="collapse" data-target="#tujuan" aria-expanded="false" aria-controls="tujuan" data-wow-delay="1.5s" style="visibility: visible; animation-name: flipInX; animation-delay: 1.5s;">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Tujuan Pondok Programmer
          </button>
          <div class="collapse text-md-left text-sm-center font-small" id="tujuan">
            <div class="mt-3">
              <label class="raleway-regular grey-text mx-2">
                Tujuan pondok IT menyiapkan pemuda IT yang BERTAQWA, PROFESIONAL, MANDIRI, BERBAGI.
              </label>
            </div>
          </div>
          <!-- tujuan -->

        </div>
      </div>
    </div>