{{ if gt (len .Site.Data.qoutes) 0 }}

<div style="padding-bottom: 4rem;padding-top: 4rem">
        <div class="container " >
          
              <div class="quote wow flip animated slow" data-wow-delay="0.3" ><i class="fa fa-quote-left fa-4x"></i></div>
            <div class="homepage owl-carousel">
           
                {{ range sort .Site.Data.qoutes "no" }}
                <div class="item wow fadeInUp animated slow" data-wow-delay="0.4" >
                    <div class="row">
                    
                        <div class="col-sm  text-center">

                            {{ .qoute | safeHTML }}
                            
                             
                            </div>
                        </div>
                      <div class="row">
                        <div class ="col-sm text-center">
                               <img class="rounded-circle " src="{{ .foto }}" alt="Tuan Guru" style="width:100px;height: 100px;">
                               </div>
                      </div>

                    </div>
                    {{ end }}
                </div>
                
            </div>
            <!-- /.project owl-slider -->
        </div>

    


{{ end }}
