

<section id="experience" class="container" >

  <h2 class="heading text-center" >Sejarah</h2>
  <div id="timeline" class="bs">
    
    <div class="timeline-item clearfix bs">
      <div class="timeline-icon bs"></div>
      
      <div class="timeline-content right bs">
        <span class="date bs">May 2001</span>
        <h6 class="h3 my-2">Pembentukan Yayasan</h6>
        <p class="bs">Nunc sapien nisi, maximus eleifend hendrerit sit amet, rutrum vel diam. Duis quam nibh, tincidunt eget nunc nec, suscipit pretium dolor. </p>
      </div>
    </div>
    
    <div class="timeline-item clearfix bs">
      <div class="timeline-icon bs"></div>
      
      <div class="timeline-content bs">
        <span class="date bs">Nov 1998 </span>
        <h6 class="h3 my-2">Pembangunan Madrasah</h6>
        <p class="bs">Nunc sapien nisi, maximus eleifend hendrerit sit amet, rutrum vel diam. Duis quam nibh, tincidunt eget nunc nec, suscipit pretium dolor. </p>
      </div>
    </div>
    
  </div>

</section>