
{{ if gt (len .Site.Data.slider) 0 }}
<header>
       <div class="jumbotron jumbotron-fluid bg-success text-white bg-abror2 no-padding mb-0 ">
    <div class="home-carousel pd-10" >

        <div class="container">
            <div class="homepage owl-carousel" >
                {{ range sort .Site.Data.slider "weight" }}
                <div class="item">
                    <div class="row justify-content-center">
                         
                        <div class="col-sm-4 text-center wow fadeInRightBig animated slow" data-wow-delay="0.2" style="padding-top: 25px;">
                            <h1  >{{ .title }}</h1>
                            {{ .description | safeHTML }}
                        </div>
                        <div class="col-sm-4 text-center slideInDown animated slow" data-wow-delay="0.3s" >
                            <img class="img-fluid text-center " src="{{ .image }}" alt="Gambar Slide">
                        </div>
                               

                    </div>
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</div>
</header>
{{ end }}
