<section style="padding-bottom: 32px;padding-top: 32px;">
<div class="container ">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img class="w-100 p-4 lazyloaded" src="img/slider/Masjid.svg" alt="Maskot Darul Abror">
        </div>
    <div class="col-md-8 col-sm-12">
        <h2 >Tentang Darul Abror</h2>
        <div class="garis my-3"></div>
        <p>Yayasan Pondok Pesantren Darul Abror merupakan pondok pesantren yang bernaung dengan organisasi Nahdatul Wathan,Mengelola Pendidikan Madrasah dari tingkat Dasar (MI) hingga Menengah Ke Atas (MA)

        <a  href="/about/">Baca Selengkapnya...</a></p>
    <a class="btn btn-hijau" href="https://www.facebook.com/groups/petanikode/" target="_blank">Daftar Sekarang</a>
</div></div></div>
</section>